.header{
    width: 100%;
    margin-bottom: 1em;
}
.menu{
    float: right;
}
.header-right {
    float: right;
}
.anunciate:hover{
    color: forestgreen;
    border-color: forestgreen;
    cursor: pointer;
}
.headerNavBar {
    background-color:forestgreen
}
.user:hover {
    color: violet;
    border-color: violet;
    cursor: pointer;
}
